 /* RESET */
 * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    font-family:Verdana, sans-serif;
}


/* STYLE */

.title {
    margin-bottom: 15px;
    width: 100%;
    font-size: 28px;
    text-align: center;
    font-weight:400;
    
}
.form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    flex-wrap: wrap;
    margin: 150px auto;
    width: 300px;
 min-height: 580px;
    justify-content: space-between;
    border: 1px solid black;
}
.form-field {
    display: flex;
    flex-direction: column;
    
  
}
.form-field--group {
    display: flex;
   justify-content: space-between;
  
}
.form-field--group>.form-field>* {
    width: 120px;
  
}
label{
    font-style: italic;
    font-size: 14px;
    color:gray;
}

input:invalid, .invalid {
    
    box-shadow: rgba(220,20,60, 0.3) 0px 0px 0px 2px;
}
input:focus, select:focus, .submit-button {
    
    outline:none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
}
input, select {
    height: 25px;
    margin-top:5px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius:2px;
    
}

.submit-button{
    margin-top:5px;
    height:35px;
    background-color:white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 5px;
    font-family:Verdana, sans-serif;

}
.submit-button:hover, .submit-button:focus{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}